
/* style for the black "weather dashboard" heading */
.title {
    height: 80px;
    background-color: black;
    color: white;
    padding: 15px;
    
  }

  /* style for the zip code div that holds the input search box */
  .zipCode{
    background-color:rgb(250, 246, 246);
    font-size: 18px;
  }

  /* style for the 5 Day div's */
  div#fiveDay div
  {
    width: 125px;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }

  .city
  {
    cursor: pointer;
  }