
.title {
    height: 80px;
    background-color: black;
    color: white;
    padding: 15px;
    
  }

  .zipCode{
    background-color:rgb(250, 246, 246);
    font-size: 18px;
  }

  div#fiveDay div
  {
    width: 125px;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }